*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
body{
    width: 100%;
    min-height: 100vh;
    background-color: wheat;
    
}

.container{
    background-color: white;
    width: 70%;
    min-height: 100vh;
    margin: auto;
    box-sizing: border-box;
    margin-top: 1%;
    
}
#heading {
    display: block;
    text-align: center;
    margin: 2vh ;
    font-size: 5vh;
}
form{
    display: flex;
    flex-direction: column;
}


textarea,input,button{

    margin:10px;
    padding:15px;
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 1.3vw;
    border-radius: 5px;
    outline: none;
}

button{
    cursor: pointer;
    background-color: rgb(50, 50, 50);
    color: white;
    transition: all ease-in-out.2s;
   
}
button:hover{
    background-color: rgb(46, 46, 140);
}
.task{
    background-color: rgb(245, 230, 230);
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    padding: 10px 30px;
    margin: 2vmax;
    border-radius: 5px;
    font-size: 1.2rem;

}
.task >div{
    width: 100%;

}
.task>span{
    color: rgba(0,0,0,0.432);
}
#deleteBtn{
    border-radius: 100%;
    cursor: pointer;
    background-color: rgb(74, 13, 13);
    color: white;
    height: 30px;
    width: 30px;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.1s;
}
#deleteBtn:hover{
    background-color: red;
}
